---
---

@import 'jekyll-theme-cayman';

body {
  --text-color: #8a2be2 !important; /* Fixes body text (captions, etc.) */
}
.site-title {
  color: #8a2be2 !important; /* Fixes the BIG title (Ronan4hire) */
}


